ftp:
  scheme: ftp #modify (ftp | sftp)
  host: hostname #modify
  port: port #modify
  user: username #modify
  pass: password #modify
  path:
    remote: html/
  exclude: []
  include:
    # DB설정 강제로 전송하고 싶을 때 주석풀고 사용
    # "application/config/database.php": "application/config"
