ftp:
  scheme: ftp #modify (ftp | sftp)
  host: hostname #modify
  port: port #modify
  user: username #modify
  pass: password #modify
  path:
    remote: html/
  exclude: []
  include:
    "application/config/database.php": "application/config"
